*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

.css-cvumne-MuiDrawer-docked .MuiDrawer-paper{
    background-color: transparent;
   
}

.responsive{
  max-width: 100%;
}